.formCont {
  margin: 0 1rem;
  width: 60%;
}
form {
  margin: 1rem;
}

.subContainer {
  display: flex;
  flex-direction: column;
}

label {
  margin: 0.2rem 0;
}

input,
select {
  margin: 2px 0;
  height: 2rem;
}

textarea {
  margin: 0.2rem 0;
}

textarea,
input,
select {
  width: 100%;
}

.submit {
  display: flex;
  justify-content: center;
  width: 5rem;
  padding: 0.6rem;
  margin-left: auto;
  margin-right: auto;
  background-color: #cfcbcb;
  border-radius: 0.5rem;
}

.submit:hover {
  background-color: #565555;
  cursor: pointer;
}

@media only screen and (max-width: 800px) {
  .formCont {
    display: flex;
    justify-content: center;
    width: 70%;
  }

  input,
  select {
    margin: 0.2rem 0;
    height: 2rem;
    width: 180%;
  }

  textarea {
    margin: 0.2rem 0;
    width: 180%;
  }

  .submit {
    width: 5rem;
    padding: 0.6rem;
    margin: 0.5rem 0 0 7rem;
  }
}
