* {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  background-color: #ada8a8;
  height: auto;
  align-items: center;
  padding: 0.3rem;
  justify-content: center;
  flex-direction: column;
  width: auto;
}

body {
  background-color: #f1edee;
}

.formView {
  display: flex;
}

.noteList {
  margin: 1rem 0.5rem;
  background-color: whitesmoke;
  height: 25rem;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 2rem;
  padding: 0.7rem 0.2rem;
  text-align: center;
}

.listItem {
  padding: 0.5rem 0.5rem;
  margin-left: 1rem;
}

table {
  border-collapse: collapse;
}

th {
  padding: 3px;
}

tr {
  height: 2rem;
}

td {
  text-align: center;
}

tr:nth-child(even) {
  background-color: #cfcbcb;
}

.material-icons {
  color: #434242;
}

.material-icons:hover {
  cursor: pointer;
  color: #111111;
}

.closeButton {
  display: flex;
  justify-content: center;
  width: 5rem;
  padding: 0.6rem;
  margin-left: auto;
  margin-right: auto;
  background-color: #cfcbcb;
  border-radius: 0.5rem;
}

.closeButton:hover {
  background-color: #565555;
  cursor: pointer;
}

footer {
  display: flex;
  justify-content: center;
  background-color: #ada8a8;
  height: 3rem;
  align-items: center;
  padding: 0.3rem;
  position: fixed;
  bottom: 0;
  width: 100%;
}

@media only screen and (max-width: 800px) {
  .formView {
    flex-direction: column;
  }
}
