* {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  background-color: rgb(15, 109, 140);
  height: auto;
  align-items: center;
  padding: 0.3rem;
  justify-content: center;
  flex-direction: column;
  width: auto;
}

header h1 {
  margin: 1rem;
}

body {
  background-color: cadetblue;
}

.formView {
  display: flex;
}

.submit {
  width: 3rem;
}

.noteList {
  margin: 1rem 0.5rem;
  background-color: whitesmoke;
  height: 25rem;
}

.title {
  font-size: 2rem;
  padding: 0.7rem 0.2rem;
}

.listItem {
  padding: 0.5rem 0.5rem;
  margin-left: 1rem;
}

footer {
  display: flex;
  justify-content: center;
  background-color: #0f6d8c;
  height: 3rem;
  align-items: center;
  padding: 0.3rem;
  position: fixed;
  bottom: 0;
  width: 100%;
}
